body {
  background-color: #333;
  margin: 0;
  text-align: center;
  color: white;
}

canvas {
  outline: white 3px solid;
}

.code {
  margin-left: 320px;
  margin-right: 320px;
  outline: white 3px solid;
}

.example {
  margin-top: 100px;
}
